Makefile
Makefile-simple
sample.csv
histogram.py
AsignmentHPC2015Edit3.pdf
Histogram_Bins_0005__v000.png
data
tool
.depend
sequential/tests/tests
output.csv
test

Histogram_Bins*.png
test.csv
utils_output.csv
grid_output.csv

sequential/Bins*.csv

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app