Makefile
Makefile-simple
sample.csv
histogram.py
AsignmentHPC2015Edit3.pdf
Histogram_Bins_0005__v000.png
data
tool
.depend
tests/.depend
sequential/tests/tests

Histogram_Bins*.png
sequential/tests/test.csv
sequential/tests/utils_output.csv
sequential/tests/grid_output.csv

sequential/Bins*.csv

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app